<% if user_signed_in? %> 
  <% if current_user.picture.present? %>
    <%= link_to image_tag(current_user.picture), user_path(current_user) %>
  <% end %>

  <% @users.each do |user| %>
    <div>
      <%= user.name %> | <%= link_to user.username, user_path(user) %>

      <% if current_user.following.include?(user) %>
        <%= button_to "Unfollow", unfollow_user_path(user), method: :post %>
      <% else %>
        <%= button_to "Follow", follow_user_path(user), method: :post %>
      <% end %>
    </div>
  <% end %>

  <div> 
    <br>
    user name = <%= current_user.username %>
  </div>

  
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
